<!DOCTYPE html>
{%load staticfiles%}
  {%block body_block%}

<body bgcolor="#D3D3D3">
  <img src="{%static "images/download.jpg"%}" alt=""
<br><br><br><br>
<center>
</center>
<br>
<h1 align="center" font-family="Comic Sans MS">The change has been saved successfully...</h1>

<!-- <center><a href="a_profile.html" class="b1">Back</a></center> -->


   <h2>We are feeling very sad because you logout</h2>
   <h2>Minimum 24 hours you required to spend with our website...Please <a href="/login">Login Here</a></h2>
  {%endblock%}
