<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static "css/login.css" %}">
  </head>
<body>
  <h1 align="center" color="blue">Login To See Jobs</h1><hr>
      <div class="wrap">
        <form method="post" class="abc" action="/logout123/">
          {% csrf_token %}
          {{form.as_p}}
        <button class="btn btn-primary btn-lg" type="submit">Login</button>
  <!-- <a class="btn btn-primary btn-lg" href="/hydjobs" role="button" type="submit">Login</a> &nbsp&nbsp&nbsp -->
    </form>
  </div>
  </body>
  </html>
